apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger
  namespace: jaeger
spec:
  selector:
    matchLabels:
      app: jaeger
  replicas: 1
  template:
    metadata:
      labels:
        app: jaeger
    spec:
      containers:
        - name: jaeger
          image: jaeger
          args:
            - --config
            - /jaeger-config/all-in-one.yaml
          ports:
            - name: ingestion
              containerPort: 4318
            - name: interface
              containerPort: 16686
          volumeMounts:
            - name: jaeger-config
              mountPath: /jaeger-config
          resources:
            limits:
              cpu: 100m
              memory: 256Mi
            requests:
              cpu: 100m
              memory: 256Mi
      volumes:
        - name: jaeger-config
          configMap:
            name: all-in-one
