apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

images:
  - name: jaeger
    newName: jaegertracing/jaeger
    digest: "sha256:af1598dfd0a7800a370e88064e24c5d562cfcbbd2c2748e6ae1f1126be88dd4b"

resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml

configMapGenerator:
  - name: all-in-one
    namespace: jaeger
    files:
      - all-in-one.yaml
