apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

images:
  - name: prometheus
    newName: prom/prometheus
    newTag: "v3.4.2"
  - name: grafana
    newName: grafana/grafana-oss
    newTag: "12.0.2"

resources:
  - namespace.yaml
  - role.yaml
  - deployments/prometheus.yaml
  - deployments/grafana.yaml
  - services/grafana.yaml
  - services/prometheus.yaml
  - pvcs/prometheus.yaml
  - pvcs/grafana.yaml

configMapGenerator:
  - name: prometheus-config
    namespace: prometheus
    files:
      - prometheus.yaml
