apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

secretGenerator:
  - name: postgres-secret
    namespace: postgres
    envs:
      - .env

images:
  - name: postgres
    newName: postgres
    digest: "sha256:6cf6142afacfa89fb28b894d6391c7dcbf6523c33178bdc33e782b3b533a9342"

resources:
  - namespace.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
